<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt">
<head>
    <meta charset="UTF-8"/>
    <title>Recuperação de Senha</title>
</head>
<body style="
      font-family: 'Arial', sans-serif;
      background-color: #f4f4f4;
      color: #333;
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
    ">
<div style="
        max-width: 600px;
        align-items: center;
        margin: 20px auto;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      ">
    <div style="
          width: 100%;
          height: 80px;
          background-color: #002c63;
          display: flex;
        ">

    </div>
    <div style="padding: 20px">
        <h2 style="color: #666E7A">Olá,</h2>
        <p style="color: #666E7A;">Vimos que você pediu para redefinir sua senha. Use o código de segurança que foi gerado automaticamente em nossos sistemas.</p>
        <p style="color: #666E7A;">Código de segurança:</p>
        <h1 style="color: #666E7A;" th:text="${forgotCode}"></h1>
        <p style="color: #666E7A;">Retorne para a jornada de redefinição de senha e insira o código acima. Após essa validação, você será direcionado para criar uma nova senha de acesso à sua conta.</p>
        <div style=" background-color: #666E7A; height: 1px; width: 100%"></div>
        <p style="color: #666E7A;">E se por acaso <b>não foi você</b> que pediu qualquer tipo de alteração de senha em nosso sistema, recomendamos, por segurança, que você <b>altere imediatamente sua senha de acesso.</b></p>
    </div>

    <div style="background-color: #002c63; color: #fff; text-align: center">
        <div style="height: 60px; justify-content: center; align-items: center; display: flex">

        </div>
        <div style="
            width: 100%;
            height: 30px;
            display: flex;
            background-color: #042550;
          ">

        </div>
        <div style="width: 100%; height: 5px; background-color: #0087b9"></div>
    </div>
</div>
</body>
</html>
